body {
  margin: 0;
  background-color: #f1f1f1 !important;
}

.ant-layout-content {
  margin: 2rem;
}

.ant-layout-header {
  background-color: white !important;
  line-height: 18px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ant-table-thead .ant-table-cell {
  background-color: white;
}

.primary-button {
  background-color: green !important;
  border: none !important;
  border-radius: 0 !important;
}